@inherits LayoutComponentBase
@using ChineseStoryGenerator.Pages

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <MudStack Row="true" Class="d-flex justify-content-between align-items-center m-1">
                <CultureSelector />
            </MudStack>
        </div>
        <MudLayout>
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout>
    </main>
</div>
